body{
  color: #40514E;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1{
  color: #66BFBF;
  font-size: 450%;
  margin-top: 65px;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
}
.p{
  width: 40%;
  margin: auto;
}

.sub{
  font-size: 1.2em;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #40514E;
  line-height: 2;
}
a{
  color: #11999E;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}
a:hover{
  color: #30e3cb;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 60px;
  color: #EAF6F6;
  border-width: 7px;
  margin-top: 80px;
  margin-bottom: 80px;
}
hr:hover{
  color: #D8D8D8;
}

.skill-row{
  width: 50%;
  margin: 110px auto 110px auto;
  line-height: 2;
  text-align: left;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 140px;
}
.middle-container{
  padding-top: 60px;;
}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom: 5px;
  padding-top: 50px;
}
.bp{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.python{
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}

.c{
  width: 20%;
  height: 20%;
  float: right;
  margin-left: 30px;

}

.leadership{
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}
.btn{
  background-image: linear-gradient(#11cdd4,#11999e);
  color: white;
  border-radius: 8px;
  padding: 7px 35px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  bottom: 35px;
}
.btn:hover{
  background-image: linear-gradient(#30e3cb,#2bc4ad);
  color: white;
}
.footer-link{
  margin-top: 50%;
  margin-bottom: 50px;
  width: auto;
  text-align: center;
}
.footer-link:hover{
  color: #EAF6F6;
}
